* {
  margin: 0 auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Nunito Sans";
}
.container {
  width: 80vw;
  margin: 0 auto;
}
button {
  background: none;
  border: none;
}
a {
  text-decoration: none;
}
.blue__text {
  color: #4f8ff0;
}
.subtitle::after {
  content: "";
  border-bottom: solid 3px #4f8ff0;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
}
