.services {
  background-color: #f7f7f7;
  &__text {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 80px;
  }
  &__title {
    font-size: 28px;
    margin: 0 auto;
    position: relative;
    font-weight: bolder;
  }
  &__disc {
    font-size: 16px;
    margin: 24px auto;
    text-align: center;
    margin-bottom: 50px;
  }
  &__item {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    cursor: pointer;
    gap: 10px;
    padding: 10px;
    transition: 0.3s;
  }
  &__item:hover {
    background-color: #4f8ff0;
    color: #fff;
  }
  &__item:hover .item__icon {
    background-image: url(../src/images/icons/whiteGALOCHKA.svg);
  }
  &__cards {
    display: grid;
    grid-template-rows: repeat(2, 270px);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}
.item {
  &__icon {
    background-image: url(../src/images/icons/blueGALOCHKA.svg);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
  }

  &__title {
    font-size: 20px;
    text-align: center;
  }
  &__disc {
    font-size: 14px;
    text-align: center;
  }
}
