.header {
  display: flex;
  flex-direction: column;
}
.header__contacts {
  height: 52px;
  background-color: #010101;
  justify-content: space-between;
  align-items: center;
}
.header__tel {
  color: #ffffff;
}
.header__email {
  color: #ffffff;
}
.header__call {
  color: #4f8ff0;
  cursor: pointer;
}
.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
.header__info {
  display: flex;
  gap: 24px;
  align-items: center;
}
.header__bar {
  background-color: rgba(1, 1, 1, 0.76);
  height: 112px;
}
.header__flexbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  width: 100%;
}
.header__backgr {
  background-image: linear-gradient(rgba(34, 34, 34, 0.64) 0%, rgba(34, 34, 34, 0.64) 100%), url(../src/images/biblioteka.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header__tltle {
  font-size: 20px;
  color: #fff;
}
.header__name {
  font-size: 28px;
}
.header__link {
  color: #fff;
}
.header__link:hover {
  color: #4f8ff0;
}
.header__item:hover {
  transform: scale(1.05);
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top {
  width: 100vw;
  position: fixed;
  z-index: 99;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Nunito Sans";
}

.container {
  width: 80vw;
  max-width: 1320px;
  margin: 0 auto;
  padding: 30px;
}

button {
  background: none;
  border: none;
}

a {
  text-decoration: none;
}

.blue__text {
  color: #4f8ff0;
}

.subtitle::after {
  content: "";
  border-bottom: solid 3px #4f8ff0;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
}

.subtitle_left::after {
  left: 3.7%;
}

.hero {
  margin-top: 200px;
  height: 100vh;
}
.hero__title {
  font-size: 30px;
  color: #fff;
}
.hero__title_blue {
  color: #4f8ff0;
  font-size: 56px;
}
.hero__disc {
  font-size: 20px;
  color: #fff;
  text-align: center;
}
.hero__link {
  color: #fff;
  background-color: #4f8ff0;
  font-size: 14px;
  padding: 16px 24px 16px 24px;
  margin-top: 100px;
  width: 140px;
  border: #4f8ff0 2px solid;
  font-weight: bolder;
}
.hero__link:hover {
  color: #4f8ff0;
  background-color: #fff;
  border: #4f8ff0 2px solid;
}
.hero__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 400px;
}
.hero__stick {
  width: 4px;
  height: 24px;
  border: solid 2px #fff;
  cursor: pointer;
  background-color: #fff;
}
.hero__stick::before {
  content: "";
}
.hero__stick:hover {
  border-color: #4f8ff0;
  height: 40px;
  transition: 0.3s;
  background-color: #4f8ff0;
}
.hero__sticks {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}
.hero__slider {
  display: flex;
  justify-content: space-between;
  margin-top: 160px;
  height: 40px;
}
.hero__change {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
}
.hero__alls {
  margin: 0 auto;
  margin-bottom: 90px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change__arrow {
  background: none;
  border: none;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
}

.change__arrow:hover {
  color: #4f8ff0;
  transform: scale(1.5);
}

.change__span {
  color: #fff;
  font-size: 32px;
}

.services {
  background-color: #f7f7f7;
}
.services__text {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 80px;
}
.services__title {
  font-size: 28px;
  margin: 0 auto;
  position: relative;
  font-weight: bolder;
}
.services__disc {
  font-size: 16px;
  margin: 24px auto;
  text-align: center;
  margin-bottom: 50px;
}
.services__item {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  cursor: pointer;
  gap: 10px;
  padding: 10px;
  transition: 0.3s;
}
.services__item:hover {
  background-color: #4f8ff0;
  color: #fff;
}
.services__item:hover .item__icon {
  background-image: url(../src/images/icons/whiteGALOCHKA.svg);
}
.services__cards {
  display: grid;
  grid-template-rows: repeat(2, 270px);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.item__icon {
  background-image: url(../src/images/icons/blueGALOCHKA.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}
.item__title {
  font-size: 20px;
  text-align: center;
}
.item__disc {
  font-size: 14px;
  text-align: center;
}

.about {
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}
.about__wrapper {
  display: flex;
  gap: 64px;
  padding-bottom: 80px;
}
.about__picture {
  width: 535px;
  height: 359px;
}
.about__text {
  font-size: 28px;
  display: flex;
  flex-direction: column;
}
.about__title {
  font-weight: bolder;
  position: relative;
}
.about__title_blue {
  color: #4f8ff0;
}
.about__disk {
  font-size: 16px;
  margin-top: 30px;
}
.about__buttons {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}

.item__link {
  font-size: 14px;
  background-color: #4f8ff0;
  padding: 16px 24px 16px 24px;
  color: #fff;
  font-weight: bolder;
}

.item__link_gray {
  background-color: #e6e6e6;
  color: black;
  font-weight: bolder;
}

.staff {
  text-align: center;
  background-color: #f7f7f7;
  height: 740px;
}
.staff__title {
  font-size: 28px;
  position: relative;
  padding-top: 80px;
}
.staff__disk {
  font-size: 16px;
  padding-top: 32px;
}
.staff__card {
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  height: 420px;
  width: 312px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.staff__track {
  margin-top: 50px;
  display: flex;
  gap: 24px;
  overflow: hidden;
  height: 100%;
  max-height: 440px;
}
.staff__name {
  font-size: 16px;
  font-weight: bolder;
}
.staff__name_title {
  display: none;
}
.staff__pos {
  font-size: 14px;
}
.staff__exp {
  display: none;
  font-weight: bolder;
}
.staff__back {
  background-color: #f7f7f7;
  display: none;
  flex-direction: column;
  height: 100%;
  max-height: 420px;
  width: 312px;
  padding-top: 30px;
}
.staff__card:hover {
  justify-content: space-around;
}
.staff__card:hover .staff__name_title {
  display: block;
}
.staff__card:hover .staff__img {
  display: none;
}
.staff__card:hover .staff__name {
  display: block;
}
.staff__card:hover .staff__exp {
  display: block;
}
.staff__card:hover .staff__back {
  display: flex;
}/*# sourceMappingURL=style.css.map */